[submodule "lain"]
    path = lain
    url = git://github.com/lcpz/lain.git

[submodule "calendar"]
    path = calendar
    url = https://github.com/deficient/calendar

[submodule "volume-control"]
    path = volume-control
    url = https://github.com/deficient/volume-control
